<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <title>Aeroporto Internacional do Guamá</title>
</head>

<body>
    <header>
        <nav class="navbar">
          <a href="#">AIG-Logo</a>
          <ul class="navbar-list">
            <li> <a href="#home">Home</a></li>
            <li> <a href="#aeroporto">Aeroporto</a></li>
            <li> <a href="#passagens">Reservas</a></li>
            <li> <a href="#login">Login</a></li>
          </ul>
        </nav>
      </header>

    <div class="div-voo">
        <div class="div-voo-img">
            <!-- Colocar uma imagem, sei lá-->
        </div>
        <div class="div-voo-table">
            <table class="table-voo">
                <thead class="table-dark">
                    <tr>
                        <th>Companhia</th>
                        <th>ID</th>
                        <th>Destino</th>
                        <th>Horário</th>
                        <th>Status</th>
                        <th>Terminal</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Thymeleaf irá iterar sobre a lista de voos -->
                    <tr th:each="voo : ${voos}">
                        <td th:text="${voo.companhia}"></td>
                        <td th:text="${voo.idVoo}"></td>
                        <td th:text="${voo.chegadaDestino}"></td>
                        <td th:text="${voo.horario}"></td>
                        <td th:text="${voo.statusVoo}"></td>
                        <td th:text="${voo.terminal}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="div-compra-passagem">
        <section id="passageiros">
            <h2>Compre sua passagem</h2>
            <p>Compre sua passagem aérea com a maior comodidade e segurança</p>
            <button> </button>
            <a href="compra"><u>Compre sua passagem</u></a>
        </section>
    </div>

    <div class="div-servicos"> 
        <h2>Conheça o Aeroporto</h2>

        <div class="div-servicos-aeroporto">
            <!-- Mapa do aeroporto, salas vip, estacionamento, lojas-->

            <div class="div-servicos-aeroporto-cima">
                <!--mapas e salas-->
            </div>

            <div class="div-servicos-aeroporto-baixo">
                <!--estacionamento e lojas-->
            </div>
            
        </div>
    </div>

    <footer>
        <div class="div-footer">
            <h2>Voos</h2>
            <p>Chegadas</p>
            <p>Partidas</p>
        </div>

        <div class="div-footer">
            <h2>Descubra o AGI</h2>
            <p>Salas VIP</p>
            <p>Mapa</p>
            <p>Lojas</p>
            <p>Companhias Aéreas</p>
        </div>

        <div class="div-footer">
            <h2>Fale conosco</h2>
            <p>Ouvidoria</p>
            <p>Achados e perdidos</p>
            <p>Serviços</p>
        </div>

        <p>© 2021 AIG - Todos os direitos reservados</p>
    </footer>

</body>
</html>