<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <title>Cadastro de Voos</title>
</head>

<body>
    <nav class="bg-white border-gray-200 dark:bg-gray-900 shadow-md">
        <div class="max-w-screen-lg mx-auto flex flex-wrap items-center justify-between p-4">
        <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="img/aviao-logo.png" class="h-8" alt="Aeroporto Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Aeroporto Internacional do Guamá</span>
        </a>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
        <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            
        <button th:if="${funcionarioNome}" id="dropdownAvatarNameButton" data-dropdown-toggle="dropdownAvatarName" class="flex items-center text-sm pe-1 font-medium text-gray-900 rounded-full hover:text-blue-600 dark:hover:text-blue-500 md:me-0 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-white" type="button">
            <span th:text="${funcionarioNome}" class="sr-only"></span>
            <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
            </button>
            
            <!-- Dropdown menu -->
            <div id="dropdownAvatarName" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600">
                <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                <div th:text="${funcionarioNome}" class="font-medium "></div>
                <div th:text="${funcionarioEmail}" class="truncate"></div>
                </div>

                <div class="py-2">
                    <form th:action="@{/}" method="post" style="width: 100%;">
                        <button type="submit" id="btnFechar" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Logout</button>
                    </form>
                </div>
                

                <!-- <div class="py-2">
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
                </div> -->
            </div>
    

            <!-- <li th:if="${funcionarioNome}">
                <a href="#" class="block py-2 px-3 text-white bg-blue-700 rounded-sm md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500" aria-current="page">
                    <span th:text="${funcionarioNome}"></span>
                </a>
            </li> -->
    </nav>


<div th:if="${funcionario}">
    <!-- Mostra os Voos -->
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <div class="pb-4 bg-grey dark:bg-gray-900 flex justify-between items-center px-4 pt-4">
            <label for="table-search" class="sr-only">Search</label>
            <h2 class="text-xl font-semibold text-gray-700">Voos Cadastrados</h2>
        </div>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        ID Voo
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Companhia
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Dia/Horário
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Terminal
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Origem/Destino
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Status
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Avião
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Ação
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600" th:each="voo : ${voos}">
                    <th th:text="${voo.idVoo}" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"></th>
                    <td th:text="${voo.companhia.nome}" class="px-6 py-4"></td>
                    <td th:text="${#temporals.format(voo.horario, 'dd-MM-yyyy HH:mm')}" class="px-6 py-4"></td>
                    <td th:text= "${voo.terminal}" class="px-6 py-4"></td>
                    <td th:text="${voo.getOrigemDestino()}" class="px-6 py-4"></td>
                    <td th:text= "${voo.statusVooFormatado}" class="px-6 py-4"></td>
                    <td th:text= "${voo.aviao.modelo}" class="px-6 py-4"></td>
                    <td class="px-6 py-4">
                        <a href="#" th:attr="onclick='toggleDropdown(\'' + ${voo.idVoo} + '\')'">Editar</a> /
                        <a href="#" th:attr="onclick='confirmDelete(event, \'' + ${voo.idVoo} + '\')'">Deletar</a>


                        <!-- Dropdown para editar status -->
                         <div th:id="'dropdown-' + ${voo.idVoo}" class="hidden bg-gray-100 p-2 rounded">
                            <form th:action="@{/homeFunc}" method="post">
                                <input type="hidden" name="id" th:value="${voo.idVoo}" />
                                <select name="novoStatus">
                                    <option th:each="status : ${statusList}" th:value="${status}" th:text="${status}"></option>
                                </select>
                                <button type="submit" class="bg-blue-500 text-white px-2 py-1 rounded">Salvar</button>
                            </form>
                        </div>
                    </td>
            </tbody>
        </table>
    </div>

    <!-- Mostra as companhias -->
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <div class="pb-4 bg-gray dark:bg-gray-900 pb-4 bg-grey dark:bg-gray-900 flex justify-between items-center px-4 pt-4">
            <label for="table-search" class="sr-only">Search</label>
            <h2 class="text-xl font-semibold text-gray-700">Companhias Aéreas Cadastradas</h2>
        </div>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Companhia
                    </th>
                    <th scope="col" class="px-6 py-3">
                        País
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Contato
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600" th:each="companhia : ${companhias}">
                    <th th:text="${companhia.nome}" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"></th>
                    <td th:text="${companhia.pais}" class="px-6 py-4"></td>
                    <td th:text= "${companhia.contato}" class="px-6 py-4"></td>
            </tbody>
        </table>
    </div>
</div>

<div th:unless="${funcionario}">
    <div class="container">
        <form action="" method="post" class="max-w-lg mx-auto bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md ">
            <h1 class="text-xl font-bold text-gray-900 dark:text-white mb-4 text-center">Você nao possui as credenciais para acessar essa página!</h1>
        
            <div class="mb-4">
                <div class="mt-4 text-center">
                    <a th:href="@{/}"
                        class="text-blue-600 hover:underline dark:text-blue-400">
                        Voltar
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

    
    <div th:if="${funcionario}" class="fixed bottom-4 right-4 flex space-x-2">
        <button class="flex items-center space-x-2 bg-blue-600 text-white px-4 py-2 rounded-full shadow-lg hover:bg-blue-700">
            <span class="text-lg">✈️</span>
            <a th:href="@{/cadastroVoo}"><span class="font-medium">Novo Voo</span></a>
        </button>
    </div>

    <script>
        function toggleDropdown(id) {
            let dropdown = document.getElementById(`dropdown-${id}`);
            dropdown.classList.toggle("hidden");
        }  
    
    </script>

    <script>
        function atualizarStatus(event, form) {
            event.preventDefault(); // Evita o recarregamento da página

            const id = form.querySelector('input[name="id"]').value;
            const novoStatus = form.querySelector('select[name="novoStatus"]').value;
            console.log("AB", id, novoStatus);
            fetch('/homeFunc/atualizarStatus', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ id: id, novoStatus: novoStatus })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("Status atualizado com sucesso!");
                    location.reload(); // Atualiza a página para refletir a mudança
                } else {
                    alert("Erro ao atualizar status!");
                }
            })
            .catch(error => console.error("Erro:", error));
        }
    </script>

    <script>
        function confirmDelete(event, idVoo) {
            event.preventDefault();  // Evita que o link recarregue a página
            
            if (confirm("Tem certeza que deseja deletar este voo?")) {
                fetch('/homeFunc/homeFunc?id=' + idVoo, {
                method: 'DELETE'
            }).then(response => {
                if (response.ok) {
                    alert("Voo deletado com sucesso!");
                    location.reload(); // Recarrega a página para atualizar a tabela
                } else {
                    response.text().then(errorMessage => {
                        alert("Erro ao deletar voo: " + errorMessage);  // Exibe o erro retornado pelo backend
                    });
                }
            }).catch(error => {
                console.error('Erro:', error);
                alert("Erro inesperado ao tentar deletar o voo.");
            });
            }
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
</html>